body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #121212;
    color: #e0e0e0;
}

h1 {
    text-align: center;
    color: #ffffff;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    background-color: #333333;
    color: #e0e0e0;
    border: 1px solid #555555;
}

button {
    padding: 10px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #555555;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333333;
    color: white;
    cursor: pointer;
}

button.delete, button.edit {
    margin: 2px 0;
    padding: 5px;
    width: 100px;
}

button.delete {
    background-color: #f44336;
    color: white;
}

button.edit {
    background-color: #2196F3;
    color: white;
}

#clearAllBtn {
    background-color: #ff5722;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}
